{% extends 'base.html.twig' %}
{% block title %}Топ игроков игры Храбрый Полк    {% endblock %}
{% block header 'Топ игроков игры Храбрый Полк' %}
{% set damage = [
    100000,
    250000,
    500000,
    1000000,
    3000000,
    5000000,
    10000000,
    20000000,
    30000000,
    50000000,
    75000000,
    100000000,
    250000000,
    500000000,
    1000000000,
    5000000000,
    10000000000,
    25000000000,
    50000000000,
    100000000000
] %}
{% block main %}
    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                        <thead>
                        <tr>
                            <th class="w-1">№</th>
                            <th class="w-3">Имя Фамилия</th>
                            <th{% if pagination.isSorted(['a.level']) %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(pagination, 'Уровень', ['a.level']) }}
                            </th>
                            <th{% if pagination.isSorted(['a.sut']) %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(pagination, 'СУТ', ['a.sut']) }}
                            </th>
                            <th{% if pagination.isSorted(['a.used_talents']) %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(pagination, 'Таланты', ['a.used_talents']) }}
                            </th>
                            <th{% if pagination.isSorted(['a.total_damage']) %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(pagination, 'Урон', ['a.total_damage']) }}
                            </th>
                            <th{% if pagination.isSorted(['a.loginTime']) %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(pagination, 'Вход в игру', ['a.login_time']) }}
                            </th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, item in pagination %}
                            <tr data-id="{{ item.id }}">
                                <td>
                                    {{ key+1 }}
                                </td>
                                <td>
                                    <div class="d-flex py-1 align-items-center">
                                        <a href="https://vk.com/id{{ item.socId }}"
                                           class="text-reset" target="_blank"><span class="avatar me-2"
                                                                                    style="background-image: url({{ item.photo50 }})"></span>
                                        </a>
                                        <div class="flex-fill">
                                            <div class="font-weight-medium">
                                                <a href="https://vk.com/id{{ item.socId }}"
                                                   class="text-reset" target="_blank">
                                                    {{ item.firstName }} {{ item.lastName }}
                                                </a>
                                            </div>
                                            <div class="text-muted">
                                                <div class="text-reset">@id{{ item.socId }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-muted"> {{ item.level }}</div>
                                </td>
                                <td>
                                    <div class="text-muted">{{ item.sut }}</div>
                                </td>
                                <td>
                                    <div class="text-muted"> {{ item.usedTalents }}</div>
                                </td>
                                <td>
                                    <div class="text-muted">  {{ damage[item.totalDamage]|number_format(0, ',', '.') }}</div>
                                </td>
                                <td>
                                    <div class="text-muted"> {{ convertTime(item.loginTime) }}</div>
                                </td>
                                <td>
                                    <span class="badge bg-success me-1"></span>нет в друзьях
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {{ knp_pagination_render(pagination, 'libs/pagination.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
