<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ encore_entry_link_tags('styles') }}
</head>
<body>
<div class="wrapper">
    <header class="navbar navbar-expand-md navbar-light d-print-none">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if app.user %}
                <div class="navbar-nav flex-row order-md-last">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                           aria-label="Open user menu">
                            <span class="avatar avatar-sm"
                                  style="background-image: url({{ app.user.photoMedium }})"></span>
                            <div class="d-none d-xl-block ps-2">
                                <div>{{ app.user.firstName }} {{ app.user.lastName }}</div>
                                <div class="mt-1 small text-muted">
                                    @{{ app.user.screenName }}
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <a href="{{ path('app-logout') }}" class="dropdown-item">Выход</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="navbar-nav flex-row order-md-last">
                    <div class="nav-item dropdown">
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte' }) }}"
                           class="nav-link d-flex lh-1 text-reset p-0">
                            <div class="d-xl-block ps-2 btn btn-secondary">
                                Войти через ВКонтакте
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
                    <ul class="navbar-nav">
                        <li class="nav-item {{ is_active_route(app.request, ['top']) ? 'active' }}">
                            <a class="nav-link" href="{{ path('top') }}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                           stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                           stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline
                                  points="5 12 3 12 12 3 21 12 19 12"></polyline><path
                                  d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
                                  d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg>
                    </span>
                                <span class="nav-link-title">
                      Топ игроков
                    </span>
                            </a>
                        </li>

                        <li class="nav-item {{ is_active_route(app.request, ['friends-main']) ? 'active' }}">
                            <a class="nav-link" href="{{ path('friends-main') }}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-award" width="24" height="24"
     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
     stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <circle cx="12" cy="9" r="6"></circle>
   <polyline points="9 14.2 9 21 12 19 15 21 15 14.2" transform="rotate(-30 12 9)"></polyline>
   <polyline points="9 14.2 9 21 12 19 15 21 15 14.2" transform="rotate(30 12 9)"></polyline>
</svg>
                    </span>
                                <span class="nav-link-title">
                      Информация о игроке
                    </span>
                            </a>
                        </li>
                        <li class="nav-item {{ is_active_route(app.request, ['friends-search']) ? 'active' }}">
                            <a class="nav-link" href="{{ path('friends-search') }}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-vk" width="24" height="24"
     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
     stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M10 6h2v12c-4.5 -1 -8 -6.5 -9 -12"></path>
   <path d="M20 6c-1 2 -3 5 -5 6h-3"></path>
   <path d="M20 18c-1 -2 -3 -5 -5 -6"></path>
</svg>
                    </span>
                                <span class="nav-link-title">
                      Поиск друзей
                    </span>
                            </a>
                        </li>
                        <li class="nav-item {{ is_active_route(app.request, ['friends-extensions']) ? 'active' }}">
                            <a class="nav-link" target="_blank"
                               href="https://chrome.google.com/webstore/detail/%D1%85%D1%80%D0%B0%D0%B1%D1%80%D1%8B%D0%B9-%D0%BF%D0%BE%D0%BB%D0%BA/ajnjombloocfjaopfnnhlemflpgcfnpa/related?utm_source=chrome-ntp-icon">
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline
                                    points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"></polyline><line x1="12"
                                                                                                          y1="12"
                                                                                                          x2="20"
                                                                                                          y2="7.5"></line><line
                                    x1="12" y1="12" x2="12" y2="21"></line><line x1="12" y1="12" x2="4" y2="7.5"></line><line
                                    x1="16" y1="5.25" x2="8" y2="9.75"></line></svg>

                    </span>
                                <span class="nav-link-title">
                      Скрипт для игры
                    </span>
                            </a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item {{ is_active_route(app.request, ['ads']) ? 'active' }}">
                                <a class="nav-link"
                                   href="{{ path('ads') }}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-businessplan"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <ellipse cx="16" cy="6" rx="5" ry="3"></ellipse>
   <path d="M11 6v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4"></path>
   <path d="M11 10v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4"></path>
   <path d="M11 14v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4"></path>
   <path d="M7 9h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"></path>
   <path d="M5 15v1m0 -8v1"></path>
</svg>

                    </span>
                                    <span class="nav-link-title">
                      Реклама
                    </span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item {{ is_active_route(app.request, ['main-stats']) ? 'active' }}">
                            <a class="nav-link"
                               href="{{ path('main-stats') }}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
<svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
     stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none"
                                                                                            d="M0 0h24v24H0z"
                                                                                            fill="none"></path><polyline
            points="3 17 9 11 13 15 21 7"></polyline><polyline points="14 7 21 7 21 14"></polyline></svg>

                    </span>
                                <span class="nav-link-title">
                      Статистика
                    </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="page-wrapper">
        <div class="position-absolute p-3 top-0 end-0" style="z-index: 11">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true"
                 data-bs-toggle="toast" data-bs-delay="3000">
                <div class="toast-header">
                    <strong class="me-auto">%title%</strong>
                    <button type="button" class="ms-2 btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    %messages%
                </div>
            </div>
        </div>
        <div class="container-xl">
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            {% block header %}{% endblock %}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-xl">
                {% block main %}{% endblock %}
            </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
            <div class="container-xl">
                <div class="row text-center align-items-center flex-row-reverse">
                    <div class="col-lg-auto ms-lg-auto">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item">
                                <a href="https://vk.com/zbarazskiy" class="link-secondary"
                                   target="_blank">Разработчик</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://vk.com/app8063650" class="link-secondary" target="_blank">Храбрый
                                    Полк</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://vk.com/ant_game" class="link-secondary" target="_blank">Узел связи</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{ path('contract-offer') }}" class="link-secondary">Оферта</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item">
                                Zbara &copy; {{ "now"|date("Y") }}
                            </li>
                            <li class="list-inline-item">
                                {{ gitFull() }}, {{ gitDate()|format_datetime('short', 'short') }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
